.login-container {
    width: 800px;
    height: auto;
    box-shadow: 3px 3px 10px #00000066;
    margin: 100px auto;
    padding: 50px 25px;

    .header {
        border-bottom: 1px solid #000;
        text-align: center;
    }

    .form-container {
        margin-top: 60px;
    }
}