.contact-container {
    width: 800px;
    height: auto;
    box-shadow: 3px 3px 10px #00000066;
    margin: 100px auto;
    padding: 50px 25px;

    .header {
        border-bottom: 1px solid #000;
        text-align: center;
    }

    .form-container {
        margin-top: 30px;

        form {
            display: grid;
            grid-template-areas:
                "name-label name-label name-label"
                "name name name"
                "email-label email-label email-label"
                "email email email"
                "message-label message-label message-label"
                "message message message"
                "message message message"
                "submit free free";
            grid-template-columns: 600px;
            justify-content: center;

            input {
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                border: 1px solid #00000066;
                border-radius: 0px;
                outline: none;
            }

            label[for="name"] {
                grid-area: name-label;
            }

            label[for="email"] {
                grid-area: email-label;
            }

            label[for="message"] {
                grid-area: message-label;
            }

            input[name="name"] {
                grid-area: name;
            }

            input[name="email"] {
                grid-area: email;
            }

            textarea {
                grid-area: message;
                resize: vertical;
                min-height: 200px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #00000066;
                border-radius: 0px;
                outline: none;
            }

            button {
                grid-area: submit;
                cursor: pointer;
                color: #FFF;
                margin-top: 10px;
                width: 100px;
                height: 40px;
                border: 1px solid #000;
                background-color: #000;

                &:hover {
                    color: #000;
                    background-color: #FFF;
                }
            }
        }
    }
}