.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #111111C9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}