.navbar {
    position: sticky;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #000;
    background-color: #F00;
    top: 0;

    .brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .left {
        position: relative;
        margin-top: 10px;
        float: left;
    }

    .right {
        position: relative;
        margin-top: 1%;
        float: right;
    }

    .item {
        display: inline-block;
        margin: 10px;
    }
}