.landing {
    border-top: 1px solid transparent;
    width: 100%;
    height: 100vh;
    background-image: url("./images/landing_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 768px;
    
    .title-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 300px;
        background-color: #e4e4e4c4;
        text-align: center;
        opacity: 80%;

        .title {
            color: #000;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }    
}